version: '2.1'
services:
  mysql:
    restart: always
    image: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=shopdb
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ./db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 3306:3306
  app:
    restart: always
    build: .
    ports:
      - 5000:5000
    depends_on:
      - mysql
    volumes:
      - .:/app
    environment:
      - MYSQL_DATABASE=shopdb
      - MYSQL_USER=testusr
      - MYSQL_PASSWORD=testpass
      - MYSQL_HOST=mysql
      - MYSQL_PORT=3306